@font-face {
    font-family: 'MessinaSans';
    src: url('fonts/MessinaSans/MessinaSansWeb-Regular.woff') format('woff'); // Pretty Modern Browsers
    font-weight: 400; // Normal
    font-style: normal;
}